<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="conn"
		connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\hallocol\source\repos\OpenCAPA\OpenCAPA_Engine\CAPA_DB.mdf;Integrated Security=True"
/>
	</connectionStrings>
</configuration>